PORT=3000
DB_USER=admin
DB_PASSWORD=your_database_password
DATABASE_URL=postgresql://admin:your_database_password@localhost:5434/blockchain_cert
AMOY_RPC_URL=https://rpc-amoy.polygon.technology
AMOY_PRIVATE_KEY=your_private_key_here
CONTRACT_ADDRESS=0xA73F1BB8668e30558CC77F9d937104a58Cc64CA0
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES=8h
